{{template "header.html"}}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Is Admin</th>
            <td>Is Deleted</th>
                <td></td>
                <td></td>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Email}}</td>
            <td>{{.IsAdmin}}</td>
            <td>{{.IsDeleted}}</td>
            <td><a href="/admin_edit_user?userId={{.ID}}">Edit</a></td>
            <td>
                <form action="/admin_delete_user" method="POST">
                    <input type="hidden" name="userId" value="{{.ID}}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {{end}}
</table>

{{template "footer.html"}}