    {{template "header.html"}}
<a href="/admin_add_inventory">Add New Inventory</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>UserID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Total Items</th>
            <th>Is Deleted</td>
            <th></td>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.UserID}}</td>
            <td>{{.Email}}</td>
            <td>{{.Name}}</td>
            <td>{{.TotalItems}}</td>
            <td>{{.IsDeleted}}</td>
            <td>
                <a href="/admin_edit_inventory?id={{.ID}}">Edit</a>
                <form action="/admin_delete_inventory" method="post">
                <input type="hidden" name="id" value="{{.ID}}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {{end}}
</table>

{{template "footer.html"}}