{{template "header.html"}}

<form method="POST" action="{{.Action}}">
    <input type="hidden" name="ID" value="{{.ID}}">

    <label for="Name">Name</label>
    <input type="text" name="Name" value="{{.Name}}">

    <br />

    <label for="UserID">UserID</label>
    <input type="number" name="UserID" value="{{.UserID}}">

    <br />
    <h3>Items</h3>
        <ul>
            {{range $index, $element := .Items}}
            <li>
                <label for="Items.{{$index}}.Title">Title</label>
                <input type="text" name="Items.{{$index}}.Title" value="{{$element.Title}}">
                <br/>

                <label for="Items.{{$index}}.SKU">SKU</label>
                <input type="text" name="Items.{{$index}}.SKU" value="{{$element.SKU}}">
                <br />

                <label for="Items.{{$index}}.Barcode">Barcode</label>
                <input type="text" name="Items.{{$index}}.Barcode" value="{{$element.Barcode}}">
                <br />

                <label for="Items.{{$index}}.Quantity">Quantity</label>
                <input type="number" name="Items.{{$index}}.Quantity" value="{{$element.Quantity}}">
                <br />
            </li>
            {{end}}
        </ul>
<input type="submit">
</form>

{{template "footer.html"}}