{{template "header.html"}}

<ul>
    {{range .Errors}}
    <li>{{.}}</li>
    {{end}}
</ul>

<form action="/admin_edit_user" method="POST">
    <input type="hidden" name="ID" value="{{.ID}}">
    <ul>
        <li>
            <label for="Email">Email</label>
            <input type="email" name="Email" value="{{.Email}}">
        </li>

        <li>
            <label for="IsAdmin">Is Admin</label>
            <input type="checkbox" name="IsAdmin" {{if .IsAdmin}}checked{{end}}>
        </li>

        <li>
            <label for="IsDeleted">Is Deleted</label>
            <input type="checkbox" name="IsDeleted" {{if .IsDeleted}}checked{{end}}>
        </li>
    </ul>

    <input type="submit" value="Save">
</form>

{{template "footer.html"}}